*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	interpolate-size: allow-keywords;

	--font-size-sm: clamp(0.5208rem, 0.4394rem + 0.3621vw, 0.72rem);
	--font-size-base: clamp(0.625rem, 0.5125rem + 0.5vw, 0.9rem);
	--font-size-md: clamp(0.75rem, 0.5966rem + 0.6818vw, 1.125rem);
	--font-size-lg: clamp(0.9rem, 0.6929rem + 0.9205vw, 1.4063rem);
	--font-size-xl: clamp(1.08rem, 0.8027rem + 1.2324vw, 1.7578rem);
	--font-size-xxl: clamp(1.296rem, 0.9273rem + 1.6387vw, 2.1973rem);
	--font-size-xxxl: clamp(1.5552rem, 1.0678rem + 2.1661vw, 2.7466rem);
	--font-size-xxxxl: clamp(1.8662rem, 1.2252rem + 2.8491vw, 3.4332rem);

	--app-color: oklch(51.4% 0.222 16.935);
	--light-text-color: #65615f;
	--font-weight: 400;
	--background: light-dark(#f9f9f9, #000);
	--input-background: light-dark(#fff, #1a1a1a);
	--input-border: #80808070;

	--red: hsl(0, 90%, 61%);
	--blue: hsl(210, 90%, 85%);
	--orange: hsl(28.9, 90%, 64.1%);
	--yellow: hsl(55, 90%, 85%);
	--green: hsl(130, 90%, 85%);

	--max-width: 105ch;
}

html {
	hanging-punctuation: first last;
	color-scheme: light dark;
}

body {
	font-size: 1.125rem;
	padding: 0.8em;
	display: grid;
	place-items: center;

	font-family: 'EBGaramondPDF', serif;
	line-height: 1.35;
}

#app {
	max-width: 1350px;
	width: 100%;
}

body > :is(header, footer),
section,
main,
article {
	container-type: inline-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	margin: 0px;
}

h1 {
	--_font-size: var(--font-size-xxl);
	margin-bottom: 0.5em;
	font-size: var(--_font-size);
	font-weight: 900;
	line-height: calc(var(--_font-size) * 1.1);
	letter-spacing: -2px;
}

h2 {
	--_font-size: var(--font-size-xl);
	place-self: start;
	font-size: var(--_font-size);
	font-weight: 600;
	line-height: calc(var(--_font-size) * 1.1);
	letter-spacing: -2px;
	margin-bottom: 0.5em;
}

h3 {
	--_font-size: var(--font-size-lg);
	font-size: var(--_font-size);
	font-weight: 400;
	line-height: calc(var(--_font-size) * 1.1);
	letter-spacing: -2px;
	margin-bottom: 0.5em;
}

p,
li,
figcaption {
	text-wrap: stable;
	text-wrap: pretty;
	max-width: var(--max-width);
}

p {
	font-size: var(--font-size-base);
	line-height: 20px;
	margin-bottom: 0.5em;
}

a {
	text-decoration: none;
	cursor: pointer;
}

small {
	font-size: var(--font-size-sm);
}

button,
select,
input,
textarea {
	font-size: inherit;
	caret-color: var(--app-color);
}

input,
textarea {
	&:focus-visible {
		outline-color: var(--app-color) !important;
	}
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	object-fit: contain;
}

dialog {
	margin: auto;
	min-width: min(20rem, 100%);
	border: none;
	border-radius: 20px;
	padding: 1rem 1.6rem;

	box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.44);

	&::backdrop {
		background: #00000078;
		filter: blur(1.5rem);
	}
}

pre {
	font-size: var(--font-size-base);
	display: block;
	unicode-bidi: embed;
	font-family: monospace;
	white-space: pre;
	overflow: auto;
	background: #8080801a;
	border-radius: 10px;
	padding: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: 4rem;
	}
}

@page {
	size: A4;
	margin: 0;
}

@media print {
	body * {
		visibility: hidden;
	}

	#curriculumPage,
	#curriculumPage * {
		visibility: visible;
	}

	#curriculumPage {
		position: absolute;
		margin: 0;
		left: 0;
		top: 0;

		width: 210mm;
		min-height: 297mm;
		box-shadow: none;
		border: none;
		background: #fff;
		box-sizing: border-box;
	}
}
